
body {
    margin: 0;
    background-color: #fef9e7;
}

ul {
    list-style-image: url("../svg/tombstone.svg");
}

.main {
    padding-top: 2rem;
    margin: auto 30%;
}

section {
    padding-bottom: 1rem;
}

.section_header_link {
    text-decoration: none;
}

.section_header_link .section_header_title {
    display: inline;
}

.section_header_link:hover:after {
    content: "\00a7";
    font-size: 1.5rem;
    padding-left: 0.25rem;
}

.section_header_link:link, .section_header_link:visited {
    color: black;
}

@media screen and (max-width: 576px) {
    .main {
        margin: auto 0.75rem;
    }
}
